[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=uk.co.piggz.newsfish
Exec=qt-runner /usr/bin/newsfish
Name=newsFish
X-Nemo-Single-Instance=no

[X-Sailjail]
Sandboxing=Disabled
